<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>4Geeks API</title>
</head>
<body style="height: 100vh; width:100vw;">
    <div style="height: 100vh; width:100vw" class="flex flex-col justify-center items-center">
        <h2 class="text-5xl mb-6 font-bold">4geeks app API</h2>
        <p>Puedes ver la documentación y endpoints de esta API en el siguiente link:</p>
        <p class="text-blue-400 font-bold"><a href="https://alex-silva.gitbook.io/4geeks-app" target="_blank">Documentación</a></p>
    </div>
</body>
</html>